<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420217541675-va1rdb6qtp09ihl6dtgs83i25jsp60ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420217541675-va1rdb6qtp09ihl6dtgs83i25jsp60ek</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>420217541675-ppcq9dnm1g8oc9dcsasrg5djdkmb5qht.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgyo5hCZLcAO5jiG4tKWlzmsHtERjpAU8</string>
	<key>GCM_SENDER_ID</key>
	<string>420217541675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasknotes</string>
	<key>PROJECT_ID</key>
	<string>tasknotes-a2db6</string>
	<key>STORAGE_BUCKET</key>
	<string>tasknotes-a2db6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420217541675:ios:40bc41d5a422512bc3c66e</string>
</dict>
</plist>